.course-detail-row{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.sidebar{
    width: 30%;
}
.content{
    width: 68%;
}
.course-img{
    width: 40%;
    padding:0 10px;
}
.course-img img{
    width: 100%;
    object-fit:cover;
    height: auto;
}
.course-content{
    width: 60%;
    padding: 0 15px;
}